@import "reset.css";

/* Container for the entire navigation bar */
#nav-logo-search {
    display: flex;
    flex-direction: column;
    background-color: #967259;
    overflow: visible;
    margin-bottom: 50px;
}

#nav-logo-search-container {
    display: flex;
}

#logo-container {
    margin-left: 12.75%;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Logo sizing */

#logo-container a{
    display: flex;
    text-decoration: none;
    color: black;
    width: 35%;
}

#logo-container h1 {
    padding-top: 25px;
    padding-left: 20px;
    
}

#logo-anchor img{
    margin-top: 25%;
    clip-path: circle();
    height: 100px;
    width: auto;
}


/* Search bar stuff goes here */

#search-container {
    align-self: center;
    margin-left: auto;
    margin-right: 12.75%;
}

#search-bar {
    width: 400px;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #886650;
    transition: background 0.25s;
}

#search-bar:focus-within, #search-bar:hover {
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.75); */
    background: #c5ae9f;
}


.search-input {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: black;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search-input::placeholder, .search-icon {
    color: black;
}


/* FF: CSS for the <nav> bar */

nav {
    padding: 5px 13px 5px 0px;
    overflow: hidden;
    background-color: #c5ae9f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-links {
    margin-left: 12.75%;
    align-self: center;
}

/* For the <a> links in the <nav> bar */
#nav-links a {
    color: black;
    text-align: center;
    padding: 16px 17px;
    text-decoration: none;
    font-size: 18px;
}
#nav-links a:hover {
    overflow: hidden;
    background-color: #a3826c;
    color: black;
    transition: 0.25s;
}
#nav-links a:active {
    background-color: #816451;
    color: white;
}

#button-container {
    margin-right: 12%;
    margin-left: auto;
}


#button-container button:hover {
    transition: 0.25s;
    background-color: #a3826c;
}

#button-container button {
    background-color: #ac907e;
    border: none;
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 5px;
}

#button-container .user {
    font-size: 15px;
}