<div class="aboutUsContainer">
    <h3>Node Modules Used:</h3>
    <ul>
        <li><a href="https://www.npmjs.com/package/bcrypt">bcrypt</a></li>
        <li><a href="https://www.npmjs.com/package/cookie-parser">cookie-parser</a></li>
        <li><a href="https://www.npmjs.com/package/dotenv">dotenv</a></li>
        <li><a href="https://www.npmjs.com/package/express-fileupload">express-fileupload  oops</a></li>
        <li><a href="https://www.npmjs.com/package/express-session">express-session</a></li>
        <li><a href="https://www.npmjs.com/package/express-handlebars">express-handlebars</a></li>
        <li><a href="https://www.npmjs.com/package/express">express</a></li>
        <li><a href="https://www.npmjs.com/package/jsonwebtoken">jsonwebtoken  oops?</a></li>
        <li><a href="https://www.npmjs.com/package/mongoose">mongoose</a></li>
        <li><a href="https://www.npmjs.com/package/nodemon">nodemon</a></li>
        <li><a href="https://www.npmjs.com/package/validator">validator</a></li>
    </ul>
</div>

