<head>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" media="all" href="/styles/cafe.css">
</head>


    <!-- 8 by the street cafe -->
    <div class="container">

        <!--Cafecontainer will be the to be duplicated-->
        {{#each cafes}}
        <div class="cafecontainer">
            <!--seperate Link that will go through the cafe stuff-->
            <div class="imgContainer">
                <a href ="/cafe/{{this._id}}" class ="clickcafe">
                    <img id="8bythestreet-img" src="images/review/8_by_the_street_review-400w.png" alt="a cafe"> 
                </a>
            </div>

            <h1 class = "title"> {{this.name}}</h1>
            <hr>
            
            <!--The review stuff, should modify the ratings, number of reviews and the overall score-->
            <div class ="reviewcontainer">
                <div class ="score">
                    {{!-- <h4>Amazing</h4> <!--Modify the word here --> --}}
                    {{!-- <p><span id="numReview">122</span> People have reviewed</p> <!--Modify the amount of people in the span--> --}}
                </div>
                {{!-- <div class = scorebox><h1 id="scorenumber 1">100</h1></div> <!--Modify the score here--> --}}
            </div>

            <hr>

            <!--And the synposis of the cafe, should limit the amount of characters placed here in javascript or smth as it kinda screws over the css-->
            <!--Add more characters or words to see what I mean-->
            <div class = "synposis"> <p>{{truncate this.description 100 "..."}}</p></div>
        </div>
        {{/each}}
    </div>

