<head>
    <link rel="stylesheet" type="text/css" media="all" href="/styles/review.css">
</head>

<!-- Contains image banner + Name & rating of cafe -->
    <div id="reviewHeaderContainer-maxims">
        <div class="reviewCafeNameContainer">
            <h3>★★★★☆ 4.3</h3>
            <h1>{{cafe.name}}</h1>
        </div>
    </div>

    <br>
    
    <div class="cafeDescriptionContainer">
        <p>{{cafe.description}}</p>
    </div>


    {{#if userData }}
        <!-- Review Buttons -->
        {{#unless userData.isOwner }}

            <div class="reviewButtonContainer">

            <form action="/cafe/{{cafe._id}}/postreview" method="post">
                <label>Review Title: </label>
                <input type="text" placeholder="reviewTitle" name="reviewTitle" /><br>

                <label>Review Description: </label><br>
                <textarea rows="4" cols="50" name="reviewDescription"></textarea><br>

                <label>Give a rating: </label><br>
                <input type="number" id="quantity" name="reviewRating" min="1" max="5" value="5"><br>

                <button type="submit">✍️ Write a Review</button>
            </form>

        <form action="/cafe/{{cafe._id}}/patchreview" method="post">
            
            <label>Review Title: </label>
                <input type="text" placeholder="reviewTitle" name="reviewTitle" /><br>

                <label>Review Description: </label><br>
                <textarea rows="4" cols="50" name="reviewDescription"></textarea><br>

                <label>Give a rating: </label><br>
                <input type="number" id="quantity" name="reviewRating" min="1" max="5" value="5"><br>
            
            <button type="submit" id="editButton">
                ☝ Edit Your Review
            </button>
        </form>
            
        </div>

        {{/unless}}
    {{/if}}

    <hr>

    <!-- Reviews -->

    <br>
    <h1 class="h1Review">Reviews</h1>
    <br>

    {{> cafeReviews }}
