.cafe5-header-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/8_by_the_street_banner-1500w.png");
}
.cafe5-header-container1 {
  flex: 0 0 auto;
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.cafe5-header-rating {
  color: #ffffff;
  font-size: 35px;
  align-self: flex-start;
  font-family: "Helvetica";
}
.cafe5-header-nameofestablishment {
  color: #ffffff;
  font-size: 4em;
  align-self: flex-start;
  font-family: "Helvetica";
  line-height: 1.15;
  letter-spacing: 4px;
}

