<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Yappucino</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./reviews.css" rel="stylesheet" />
      <div class="reviews-container">
        <h1 class="reviews-text"><span>Reviews</span></h1>
        <div class="review1-container review1-root-class-name">
          <div class="review1-inner-review">
            <div class="review1-left-container">
              <div class="review1-image-container">
                <img
                  alt="image"
                  src="public/cafe_maxims_review-400w.png"
                  class="review1-image"
                />
              </div>
              <div class="review1-reviewer">
                <h2 class="review1-name">
                  <span>Gio &amp; Cris Borillo</span>
                </h2>
              </div>
            </div>
            <div class="review1-right-container">
              <span class="review1-text"><span>★★★★☆</span></span>
              <h1 class="review1-text1"><span>Cafe Maxims</span></h1>
              <span class="review1-text2">
                <span>
                  A good mix of Filipino food and a variety of italian/american
                  food. Their baby back ribs is not that soft compare to other
                  places I’ve been to Manila. The kare kare is good but also not
                  as tender. The spaghetti is really good since my son really
                  enjoyed it. Their flourless chocolate is divine, and the mango
                  cheesecake is just ok for my taste. I would recommend this for
                  tourists who wants to enjoy a Filipino delicacy and also have
                  a taste of their favorite italian/american food. By the way,
                  the espresso is awesome, can’t beat that compare to starbucks.
                </span>
              </span>
              <div class="review1-button-cont">
                <span class="review1-updoot-num"><span>0</span></span>
                <button type="button" class="review1-updoot-button button">
                  <span>updoot</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="review2-container review2-root-class-name1">
          <div class="review2-inner-review">
            <div class="review2-left-cont">
              <div class="review2-image-container">
                <img
                  alt="cassalu"
                  src="public/cassalu_review-400w.png"
                  class="review2-image"
                />
              </div>
              <div class="review2-reviewer">
                <h2 class="review2-name"><span>Patricia B</span></h2>
              </div>
            </div>
            <div class="review2-right-cont">
              <span class="review2-text"><span>★★★★☆</span></span>
              <h1 class="review2-text1"><span>Cassalu</span></h1>
              <span class="review2-text2">
                <span>
                  Came in for a late lunch, so not a lot of diners. Cheerful
                  ambience, clean, comfortable seating, and efficient staff. I
                  was looking for soup, but they didn’t have it, so i ordered
                  rice and tofu with mushrooms instead. Servings are good for
                  two, and leaving room for coffee or dessert is not a bad idea.
                  Tofu was crispy, and the sauce savory but the mushrooms were
                  more of a garnish. The bangus could be more boneless, the
                  garlic rice was bland and a little wet, and the yang chow
                  fried rice was missing it’s characteristic flavor.
                  Fortunately, the Carrot cake was moist, with thick cream
                  cheese and a generous walnut side crust. The Blueberry
                  cheesecake was not crumbly or too sweet. Both perfect with
                  their Cafe Americano, which was not bitter.
                </span>
              </span>
              <div class="review2-button-cont">
                <span class="review2-updoot-num"><span>2</span></span>
                <button type="button" class="review2-updoot-button button">
                  <span>updoot</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="review3-container review3-root-class-name1">
          <div class="review3-inner-review">
            <div class="review3-left-container">
              <div class="review3-image-container">
                <img
                  src="public/dear_joe_review-400w.png"
                  alt="image"
                  class="review3-image"
                />
              </div>
              <div class="review3-reviewer">
                <h2 class="review3-name"><span>John Jones</span></h2>
              </div>
            </div>
            <div class="review3-right-container">
              <span class="review3-text"><span>★★★★★</span></span>
              <h1 class="review3-text1">
                <span>Dear Joe - Floriad Lifestyle</span>
              </h1>
              <span class="review3-text2">
                <span>
                  nice food. nice instagramable ambiance. nice service. good
                  serving. we ordered a salad and sausage bacon linguini. both
                  are good. parking 50 pesos 😅
                </span>
              </span>
              <div class="review3-button-cont">
                <span class="review3-updoot-num"><span>0</span></span>
                <button type="button" class="review3-updoot-button button">
                  <span>updoot</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="review4-container review4-root-class-name1">
          <div class="review4-inner-review">
            <div class="review4-left-container">
              <div class="review4-image-container">
                <img
                  src="public/flight_cafe_review-400w.png"
                  alt="image"
                  class="review4-image"
                />
              </div>
              <div class="review4-reviewer">
                <h2 class="review4-name"><span>Angeline Tejada</span></h2>
              </div>
            </div>
            <div class="review4-right-container">
              <span class="review4-text"><span>★★★☆☆</span></span>
              <h1 class="review4-text1">
                <span>Flight Cafe by Flightwings</span>
              </h1>
              <span class="review4-text2">
                <span>
                  I ordered an americano since it’s my preference especially
                  when I have no idea what to order in a cafe that’s very new to
                  me. But I don’t know why it took 10 minutes for them to make
                  the Americano. It’s literally water mixed with espresso. there
                  weren’t much people in the cafe and there were 2 baristas
                  which made me question why it took long. The price is very
                  affordable but the americano was too strong, too strong that
                  it doesn’t go for my liking anymore
                </span>
              </span>
              <div class="review4-button-cont">
                <span class="review4-updoot-num"><span>1</span></span>
                <button type="button" class="review4-updoot-button button">
                  <span>updoot</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="review5-container review5-root-class-name1">
          <div class="review5-inner-review">
            <div class="review5-left-container">
              <div class="review5-image-container">
                <img
                  src="public/8_by_the_street_review-400w.png"
                  alt="image"
                  class="review5-image"
                />
              </div>
              <div class="review5-reviewer">
                <h2 class="review5-name"><span>Gelo Ortega</span></h2>
              </div>
            </div>
            <div class="review5-right-container">
              <span class="review5-text"><span>★★★★★</span></span>
              <h1 class="review5-text1">
                <span>8 By The Street - Naga Road</span>
              </h1>
              <span class="review5-text2">
                <span>
                  Ang sarap ng Korean Dalgonna Latte, nakaka adik! Will try
                  other flavors Food: 5 Service: 5 Atmosphere: 5
                </span>
              </span>
              <div class="review5-button-cont">
                <span class="review5-updoot-num"><span>0</span></span>
                <button type="button" class="review5-updoot-button button">
                  <span>updoot</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
