/* Note, no @media rules to fallback in case of weird window/screen sizes. I can't be bothered to do that right now -jobert */

/* Universal classes(?) */
* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
  }

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}


/* Container for the entire navigation bar */
#nav-logo-search {
    display: flex;
    flex-direction: column;
    background-color: #967259;
    overflow: visible;
}

#nav-logo-search-container {
    display: flex;
}

#logo-container {
    margin-left: 12.75%;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Logo sizing */
#logo-container a{
    text-decoration: none;
    display: flex;
    color: black;
    width: 25%;
}

#logo-container h1 {
    padding-left: 15px;
    padding-top: 15px;
}

#logo {
    width: 40%;
    height: auto;
    display: inline;
    clip-path: circle();
}


/* Search bar stuff goes here */

#search-container {
    align-self: center;
    margin-right: 12.5%;
}

#search-bar {
    width: 400px;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #886650;
    transition: background 0.25s;
}

#search-bar:focus-within {
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.75); */
    background: #c5ae9f;
}

.search-input {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: black;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search-input::placeholder, .search-icon {
    color: black;
}



/* FF: CSS for the <nav> bar */

nav {
    padding: 13px 13px 13px 0px;
    overflow: hidden;
    background-color: #c5ae9f;
}

#nav-links {
    float: left;
    margin-left: 12.75%
}

/* For the <a> links in the <nav> bar */
#nav-links a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#nav-links a:hover {
    overflow: hidden;
    background-color: #a3826c;
    color: black;
}
#nav-links a:active {
    background-color: #816451;
    color: white;
}

#button-container {
    float: right;
    margin-right: 12.75%;
}

#button-container button {
    outline: none;
    background-color: black;
}


