/* Note, no @media rules to fallback in case of weird window/screen sizes. I can't be bothered to do that right now -jobert */

/* CSS RESET BECAUSE RAHHHHH -jobert */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  img {
    border: 0 none;
    max-width: 100%;
    vertical-align: middle;
}
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* CSS RESET BECAUSE RAHHGHHH -jobert */




/* Universal classes(?) */
* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
  }

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}


/* Container for the entire navigation bar */
#nav-logo-search {
    display: flex;
    flex-direction: column;
    background-color: #967259;
    overflow: visible;
}

#nav-logo-search-container {
    display: flex;
}

#logo-container {
    margin-left: 12.75%;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Logo sizing */
#logo-container a{
    text-decoration: none;
    display: flex;
    color: black;
    width: 25%;
    margin: 5px 0px 5px 5px;
}

#logo-container h1 {
    padding-left: 15px;
    padding-top: 15px;
}

#logo-container #logo {
    width: 35%;
    height: auto;
    display: inline;
    clip-path: circle();
}


/* Search bar stuff goes here */

#search-container {
    align-self: center;
    margin-right: 12.75%;
}

#search-bar {
    width: 400px;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #886650;
    transition: background 0.25s;
}

#search-bar:focus-within, #search-bar:hover {
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.75); */
    background: #c5ae9f;
}


.search-input {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: black;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search-input::placeholder, .search-icon {
    color: black;
}



/* FF: CSS for the <nav> bar */

nav {
    padding: 5px 13px 5px 0px;
    overflow: hidden;
    background-color: #c5ae9f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-links {
    margin-left: 12.75%;
    align-self: center;
}

/* For the <a> links in the <nav> bar */
#nav-links a {
    color: black;
    text-align: center;
    padding: 16px 17px;
    text-decoration: none;
    font-size: 18px;
}
#nav-links a:hover {
    overflow: hidden;
    background-color: #a3826c;
    color: black;
    transition: 0.25s;
}
#nav-links a:active {
    background-color: #816451;
    color: white;
}

#button-container {
    margin-right: 14.5%;
}

#button-container a {
    padding: 10px;
}

#button-container button:hover {
    transition: 0.25s;
    background-color: #a3826c;
}

#button-container button {
    background-color: #ac907e;
    border: none;
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}


