/* Note, no @media rules to fallback in case of weird window/screen sizes. I can't be bothered to do that right now -jobert */


body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

h1 {
    color: blueviolet;
}

/* FF: CSS for the <nav> bar */

nav {
    overflow: hidden;
    background-color: #c5ae9f;
}
/* For the <a> links in the <nav> bar */
#nav-links a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#nav-links a:hover {
    background-color: #a3826c;
    color: black;
}
#nav-links a.active {
    background-color: #816451;
    color: white;
}

/* For the search bar in <nav> */
nav #search-container {
    float: right;
}
/* For the text inside the search box */
nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
/* For the search button */
nav #search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
nav #search-container button:hover {
    background: #ccc;
}
