body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
}


.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*Background image is here */
    background-image: url("/images/Anteiku.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* The form containing all the stuffs*/
.formlogin, .formsignup{
    max-width: 450px;
    width: 100%;
    border-radius: 6px;
    background-color: #c5ae9f;
    padding: 30px;
}

header {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

form {
    margin-top: 30px;
}

form .field {
    height: 45px;
    width: 100%;
    margin-top: 20px;
}

.field input, .field button{
    height: 100%;
    width: 100%;
    border: none;
    justify-items: center;
}

.field button {
    cursor: pointer;
}
.field button:hover {
    background-color: lightgray;
}

.field button:active {
    background-color:dimgrey;
    transform: translateY(4px);
}

.field input {
    text-indent: 10px;
    outline: none;
}

.form-link {
    text-align: center;
    margin-top: 15px;
}

.form-link span, .form-link a {
    font-size: 14px;
    font-weight: 400;
}

.form-link a {
    color: #019;
    text-decoration: none;
}

.form-link a:hover {
    text-decoration: underline;
}